---
import HeaderNav from "../components/HeaderNav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Política de Privacidade</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <slot />
    <main>
      <h1>Política de Privacidade</h1>
      <p>politica de privacidade</p>
      <h2>Política de Privacidade</h2>
      <p>plitica de privacidade</p>
    </main>
  </body>
</html>
