---
import LayoutHeadSobre from "../layouts/LayoutHeadSobre.astro";
import HeaderNav from "../components/HeaderNav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sobre</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <slot />
    <main>
      <h1>Sobre</h1>
      <p>sobre</p>
      <h2>Sobre</h2>
      <p>sobre</p>
      <p>mais sobre estatuto editorial</p>
      <h2>Sobre</h2>
      <p>sobre</p>
      <h2>Sobre</h2>
      <p>mais sobre a política de direitos de autor</p>
      <h2>Sobre</h2>
      <p>mais sobre a política de retração</p>
      <h2>Sobre</h2>
      <p>mais sobre os agradecimentos</p>
      <h2>Sobre</h2>
      <p>mais sobre os parceiros</p>
      <h2>Sobre</h2>
      <p>mais sobre perguntas frequentes</p>
      <h2>Sobre</h2>
      <p>mais sobre contacto</p>
    </main>
  </body>
</html>
