<footer>
  <ul>
    <li><a href="/sobre">Sobre</a></li>
    <li><a href="/contacto">Contacto</a></li>
    <li><a href="/agradecimentos">Agradecimentos</a></li>
    <li><a href="/parceiros">Parceiros</a></li>
    <li><a href="/estatuto-editorial">Estatuto Editorial</a></li>
    <li><a href="/perguntas-frequentes">Perguntas Frequentes</a></li>
  </ul>
  <ul>
    <li>
      <a href="/politica-de-direitos-de-autor">Política de Direitos de Autor</a>
    </li>
    <li><a href="/politica-de-retracao">Política de Retração</a></li>
    <li><a href="/politica-de-privacidade">Política de Privacidade</a></li>
    <li><a href="/politica-de-cookies">Política de Cookies</a></li>
    <li><a href="/politica-de-seguranca">Política de Segurança</a></li>
    <li><a href="/sitemap-index.xml">Mapa do Site</a></li>
  </ul>
  <ul>
    <li>
      <a href="https://www.instagram.com/player1paulo" target="_blank"
        >Instagram</a
      >
    </li>
    <li>
      <a href="https://www.threads.net/@player1paulo" target="_blank">Threads</a
      >
    </li>
    <li><a href="https://x.com/player1paulo" target="_blank">X</a></li>
    <li>
      <a href="https://www.tiktok.com/@player1paulo" target="_blank">TikTok</a>
    </li>
    <li>
      <a href="https://www.youtube.com/@player1paulo" target="_blank">YouTube</a
      >
    </li>
    <li>
      <a href="https://player1paulo.com/" target="_blank">Feed RSS</a>
    </li>
  </ul>
  <ul>
    <li><a href="/pc">PC</a></li>
  </ul>
  <ul>
    <li><a href="/playstation">PlayStation</a></li>
    <li><a href="/playstation/playstation">PlayStation</a></li>
    <li><a href="/playstation/playstation-2">PlayStation 2</a></li>
    <li><a href="/playstation/playstation-3">PlayStation 3</a></li>
    <li>
      <a href="/playstation/playstation-portable">PlayStation Portable</a>
    </li>
    <li><a href="/playstation/playstation-vita">PlayStation Vita</a></li>
  </ul>
  <ul>
    <li><a href="/nintendo">Nintendo</a></li>
    <li><a href="/nintendo/super-nintendo">Super Nintendo</a></li>
    <li><a href="/nintendo/nintendo-gamecube">Nintendo GameCube</a></li>
    <li><a href="/nintendo/nintendo-wii">Nintendo Wii</a></li>
    <li><a href="/nintendo/nintendo-wii-u">Nintendo Wii U</a></li>
    <li><a href="/nintendo/nintendo-switch">Nintendo Switch</a></li>
    <li>
      <a href="/nintendo/nintendo-game-boy-advance">Nintendo Game Boy Advance</a
      >
    </li>
    <li><a href="/nintendo/nintendo-ds">Nintendo DS</a></li>
    <li><a href="/nintendo/nintendo-3ds">Nintendo 3DS</a></li>
  </ul>
  <ul>
    <li><a href="/xbox">XBox</a></li>
    <li><a href="/xbox/xbox">XBox</a></li>
    <li><a href="/xbox/xbox-360">XBox 360</a></li>
    <li><a href="/xbox/xbox-one">XBox One</a></li>
  </ul>
  <ul>
    <li><a href="/sega">Sega</a></li>
    <li><a href="/sega/sega-master-system">Sega Master System</a></li>
    <li><a href="/sega/sega-mega-drive">Sega Mega Drive</a></li>
    <li><a href="/sega/sega-saturn">Sega Saturn</a></li>
    <li><a href="/sega/sega-dreamcast">Sega Dreamcast</a></li>
    <li><a href="/sega/sega-game-gear">Sega Game Gear</a></li>
  </ul>
  <p>
    &copy; 2017 - 2025 <a href="https://player1paulo.com" translate="no"
      ><strong>player1paulo</strong></a
    >. | Todos os direitos reservados.
  </p>
  <br />
  <p>
    <i>Webdesign</i>, desenvolvimento do código, SEO e <i>deploy</i> por <strong
      translate="no">Paulo Chaparro</strong
    >. Versão 0.9.0 do <i>website</i>
    <strong translate="no">player1paulo.com</strong>.
  </p>
</footer>
