<footer>
  <ul>
    <li><a href="/sobre">Sobre</a></li>
    <li><a href="/contacto">Contacto</a></li>
    <li><a href="/agradecimentos">Agradecimentos</a></li>
    <li><a href="/parceiros">Parceiros</a></li>
    <li><a href="/estatuto-editorial">Estatuto Editorial</a></li>
    <li><a href="/perguntas-frequentes">Perguntas Frequentes</a></li>
  </ul>
  <ul>
    <li>
      <a href="/politica-de-direitos-de-autor">Política de Direitos de Autor</a>
    </li>
    <li><a href="/politica-de-retracao">Política de Retração</a></li>
    <li><a href="/politica-de-privacidade">Política de Privacidade</a></li>
    <li><a href="/politica-de-cookies">Política de Cookies</a></li>
    <li><a href="/politica-de-seguranca">Política de Segurança</a></li>
    <li><a href="/sitemap-index.xml">Mapa do Site</a></li>
  </ul>
  <ul>
    <li>
      <a href="https://www.instagram.com/player1paulo" target="_blank"
        >Instagram</a
      >
    </li>
    <li>
      <a href="https://www.threads.net/@player1paulo" target="_blank">Threads</a
      >
    </li>
    <li><a href="https://x.com/player1paulo" target="_blank">X</a></li>
    <li>
      <a href="https://www.tiktok.com/@player1paulo" target="_blank">TikTok</a>
    </li>
    <li>
      <a href="https://www.youtube.com/@player1paulo" target="_blank">YouTube</a
      >
    </li>
    <li>
      <a href="https://player1paulo.com/" target="_blank">Feed RSS</a>
    </li>
  </ul>
  <p>
    &copy; 2017 - 2024 <a href="https://player1paulo.com" translate="no"
      ><strong>player1paulo</strong></a
    >. | Todos os direitos reservados.
  </p>
  <br />
  <p>
    <i>Webdesign</i>, desenvolvimento do código, SEO e <i>deploy</i> por <strong
      translate="no">Paulo Chaparro</strong
    >. Versão 0.9.0 do <i>website</i>
    <strong translate="no">player1paulo.com</strong>.
  </p>
</footer>
